doctype html
html
  head
  title= title
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container-fluid
      .row 
        .col-sm-8
        .col-sm-2
          a.button.btn.btn-success.btn-block(href="/user/new" style='background-color:#006666;') Sign in 
        .col-sm-2
          a.button.btn.btn-success.btn-block(href="/user/terminal/aut" style='background-color:#006666;') Sign up 
  h1 Hello!
      block content