doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") Weather
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/user/new") Sign in
          li.nav-item
            a.nav-link(href="/user/terminal/aut") Sign up
    .container
      block content