extends layouts/style.pug

block content 
  .row.mt-3
  .col-sm-4.mx-auto
    h3.text-xs-center Registration form
    form(action='/user' method='post')
      .row.form-group
        .col-sm
          input.form-control(name='nickname' placeholder='nickname' value=form.nickname)
          if errors.nickname
            .text-warning= errors.nickname
      .row.form-group
        .col-sm
          input.form-control(name='password' type='password' placeholder='password')
          if errors.password
            .text-warning= errors.password
      .form-group
        button.btn.btn-success.btn-block(type='submit' style='background-color:#C0C0C0;') Sign in
        .etc-login-form
          p 
            | Do you already have an account? 
            a.nav-nav(href="/user/terminal/aut") Log in
